header.header#header
  .container
    .header-top
      include ../../components/logo
    .header-main
      .header-main__img
        img(src="img/5classic.png" srcset="img/5classic@2x.png 2x" alt="5 ступеневий зворотній осмос")
        //- picture
        //-   source(type="image/webp" srcset="img/5classic.webp 1x, srcset=img/5classic@2x.webp 2x")
        //-   img(src="img/5classic.png" srcset="img/5classic@2x.png 2x" alt="5 ступеневий зворотній осмос")
        .header-main__price 2 999 грн
      .header-main__order
        include ../../components/popup
        include ../../components/header-form.pug