body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: $main-font;
  color: $global-blue;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1600px;
  // min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 70px;
  font-weight: 700;
  filter: url("#goovey");
  color: $global-blue;

  &__wrap {
    text-align: center;

  }
}


@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 59%, 6% 64%, 12% 68%, 19% 69%, 28% 69%, 38% 68%, 46% 65%, 53% 59%, 59% 52%, 67% 46%, 76% 41%, 84% 40%, 94% 39%, 100% 39%, 100% 100%, 0 100%);
  }

  50% {
    clip-path: polygon(0% 59%, 7% 53%, 14% 47%, 22% 40%, 32% 41%, 39% 44%, 46% 52%, 52% 59%, 56% 65%, 64% 72%, 72% 74%, 82% 75%, 91% 69%, 100% 59%, 100% 100%, 0 100%);


  }
}