@import "car";

.delivery {
  padding-top: 0;
  position: relative;
  background: #fcb128;
  color: #ffffff;

  .section-title {
    color: #ffffff;

    &__wrap {
      position: relative;
      z-index: 6;
    }
  }

  &-content {
    &__title {
      padding: 0;
      margin: 0 0 10px 0;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
      line-height: 30px;
      img {
        margin-right: 10px;
        width: 35px;
        vertical-align: middle;
      }
    }
    &__list {
      margin-bottom: 20px;
    }
    &__item {
      margin-bottom: 5px;
      font-size: 17px;
      line-height: 20px;
    }
  }
}
