@import 'waterdrop';

.footer {
  position: relative;
  // height: 400px;
  display: flex;
  align-items: flex-end;

  &-content {
    width: 100%;
    color: #ffffff;
    padding: 5px 0;
    background-color: $global-blue;
    position: relative;
    z-index: 2;

    &__contacts {

      &-block {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-title,
      &-link {
        display: block;
      }

      &-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      &-link {
        font-size: 16px;
      }
    }
  }
}