@import "waterdrop";

.footer {
  position: relative;
  // height: 400px;
  display: flex;
  align-items: flex-end;

  &-content {
    width: 100%;
    color: #ffffff;
    padding: 5px 0;
    background-color: $global-blue;
    position: relative;
    z-index: 2;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__contacts {
      &-block {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-title,
      &-link {
        display: block;
      }

      &-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      &-link {
        font-size: 16px;
      }
    }
  }
}

.footer-social {
  position: relative;
  z-index: 100;
  overflow: hidden;
  padding: 10px;

  &__link {
    margin: 5px;
    transition: .5s;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: darken($global-blue, 5%);
    position: relative;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateX(-90deg);

      .front {
        backface-visibility: hidden;
      }

      .back {
        backface-visibility: visible;
      }
    }

    .front,
    .back {
      border-radius: 4px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: darken($global-blue, 5%);
      position: absolute;
      top: 0;
      left: 0;
      transform: translateZ(18px);
      backface-visibility: visible;
    }

    .back {
      transform: rotateX(90deg) translateZ(18px);
      backface-visibility: hidden;

      img {
        width: 25px;
      }
    }

    &.facebook .back {
      background-color: #3b5998;
    }

    &.instagram .back {
      background-color: #c32aa3;
    }

    &.youtube .back {
      background-color: #ff0000;
    }

    &.telegram .back {
      background-color: #0088cc;
    }

    &.viber .back {
      background-color: #665CAC;
    }

    &.whatsapp .back {
      background-color: #25d366;
    }
  }

  &__img {
    width: 20px;
  }
}