.header {
  min-height: calc(100vh - 45px);
  overflow: hidden;

  &-top {
    padding: 15px 0 30px;
    text-align: center;
  }

  &-main {
    display: flex;
    align-items: flex-start;

    &__img,
    &__order {
      width: 50%;
    }

    &__img {
      flex: none;
      text-align: center;
      position: relative;
      z-index: 1;

      img {
        max-width: 100%;
      }
    }

    &__order {
      padding-top: 30px;
    }

    &__price {
      white-space: nowrap;
      color: $text-color;
      font-size: 50px;
      font-weight: 700;
      position: absolute;
      right: 100px;
      bottom: 0;
    }

    &__order {
      position: relative;
    }
  }
}