@media screen and (max-width: 1489px) {
  .purification {
    &__img,
    &__steps {
      margin: 0 auto;
    }

    &__img {
      margin-bottom: 60px;
      flex: auto;
    }

    &__steps {
      max-width: 100%;
      width: 80%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .form {
    &-title {
      font-size: 3em;

      &::before {
        top: 45px;
        left: 7px;
      }
    }

    form {
      margin-top: 17px;
    }
  }

  .header-main {
    &__price {
      right: 30px;
    }
  }
}

@media screen and (max-width: 1052px) {
  .form {
    &-group__error {
      font-size: 13px;
      letter-spacing: 1px;
    }
  }

  .header-main {
    display: block;

    &__img,
    &__order {
      width: 100%;
    }

    &__img {
      margin-bottom: 40px;
    }
  }

  .model-features {
    &__wrap {
      width: 100%;
    }

    &__item {
      display: block;

      &:hover {
        .model-features__title {
          -webkit-clip-path: none;
          clip-path: none;
        }
      }
    }

    &__descr {
      margin-left: 0;
    }

    &__title {
      width: 222px;
      padding: 20px 10px;
      margin-bottom: 25px;
      border-radius: 15px/25px;
      position: relative;
      -webkit-clip-path: none;
      clip-path: none;
      font-size: 16px;

      &::after {
        content: "";
        position: absolute;
        bottom: -23px;
        left: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 24px 24px 0 24px;
        border-color: $global-blue transparent transparent transparent;
      }
    }
  }
  .changes {
    &-list {
      &__descr {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .form {
    width: 90%;
  }

  .popup {
    width: 101%;
  }

  .popup-content__icon-wrap {
    display: none;
  }

  .advantages-list {
    width: 100%;
  }

  .purification {
    &__steps {
      width: 100%;
    }
  }

  .changes {
    &-list {
      flex-wrap: wrap;
      &__item {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .section-title {
    font-size: 50px;
  }

  .form {
    width: 100%;

    &-title {
      font-size: 2.5em;

      &::before {
        display: none;
      }
    }

    form {
      padding: 10px;
    }
  }

  .popup-content {
    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .changes {
    &-list {
      &__item {
        width: 100%;
      }
      &__descr {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }
}
