.color {
  background: linear-gradient(to right, $btn-color-purple, $color-sea);
}

.popup-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  max-width: 400px;
  flex-shrink: 0;
  position: relative;
  z-index: 103;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease
}

.popup-inside {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 black;
  transition:
    box-shadow 0.5s ease 0.7s,
    border-radius 0.35s ease 0.7s;
}

.backgrounds {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background {
  --offset: 0;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, $btn-color-purple, $color-sea);
  transform: scale(0);
  transition: all 0.5s ease 0s;
  border-radius: 50%;
}

.background2 {
  --offset: 10%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, lighten($btn-color-purple, 5%), lighten($color-sea, 5%));
  transform: scale(0);
  transition: all 0.5s ease 0.1s;
}

.background3 {
  --offset: 20%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, lighten($btn-color-purple, 10%), lighten($color-sea, 10%));
  z-index: 102;
  transition: all 0.5s ease 0.2s;
}

.background4 {
  --offset: 30%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, lighten($btn-color-purple, 15%), lighten($color-sea, 15%));
  z-index: 103;
  transition: all 0.5s ease 0.3s;
}

.background5 {
  --offset: 40%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: linear-gradient(to right, lighten($btn-color-purple, 20%), lighten($color-sea, 20%));
  z-index: 104;
  transition: all 0.5s ease 0.4s;
}

.background6 {
  --offset: 40%;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  background: white;
  z-index: 105;
  transition: all 0.8s ease 0.4s;
}

.popup-content {
  --offset: 0;
  position: absolute;
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  top: var(--offset);
  display: flex;
  // align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.35s ease 0.75s;
  z-index: 110;

  &__title {
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 15px 0;
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    color: $text-color;
  }
}

.popup-content-wrapper {
  // text-align: center;
  padding: 12px;
}

.header-main__order.popup-open .popup-wrapper {
  z-index: 100;
}

.header-main__order.popup-open .popup-content {
  opacity: 1;
  transform: none;
}

.header-main__order.popup-open .popup {
  opacity: 1;
  visibility: visible;
}

.header-main__order.popup-open .popup-inside {
  border-radius: 15px/25px;
  box-shadow: -50px 0 200px -50px $btn-color-purple, 50px 0 200px -50px $color-sea;
}

.header-main__order.popup-open .background {
  transform: scale(1);
}

.header-main__order.popup-open .background6 {
  transform: scale(8);
}

//popup icon

.popup-content__icon {

  &-wrap {
    margin-bottom: 20px;
    text-align: center;
  }

}

.tick {
  stroke-opacity: 0;
  stroke-dasharray: 29px;
  stroke-dashoffset: 29px;
  animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
  // animation-delay: .6s;
  animation-delay: 6.6s;
}

.circle {
  fill-opacity: 0;
  stroke: $global-blue;
  stroke-width: 16px;
  transform-origin: center;
  transform: scale(0);
  animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;
  animation-delay: 6s; 
}

@keyframes grow {
  60% {
      transform: scale(.8);
      stroke-width: 4px;
      fill-opacity: 0;
  }
  100% {
      transform: scale(.9);
      stroke-width: 8px;
      fill-opacity: 1;
      fill: $global-blue;
  }
}

@keyframes draw {
  0%, 100% { stroke-opacity: 1; }
  100% { stroke-dashoffset: 0; }
}