.saving {
  margin-top: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  &-content {
    margin-top: 40px;
    display: flex;

    &__item {
      margin-right: 50px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;

      img {
        max-width: 100%;
        max-height: 300px;

      }
    }

    &__price {
      position: absolute;
      bottom: 0;
      right: -30px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $global-blue;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &-number {
        font-size: 35px;
        font-weight: 600;
      }

      &-text {
        font-size: 18px;
      }
    }
  }
}