$main-font: "Source Sans Pro",
sans-serif;
$title-font: "Paytone One",
sans-serif;
// $light-blue: #d1e4fa;
$global-blue: #03a9f4;
$light-blue: #E8F9FF;
$color-sea: #36DFE7;
$text-color: #555;
$btn-color-purple: #BF09E6;