.car-container
  .car-wrapper
    .car-wrapper_inner
      .car_outter
        .car
          .body
            div
          .decos
            .line-bot
            .door
              .handle
              .bottom
            .window
            .light
            .light-front
            .antenna
            .water
              .cone
          div
            .wheel
            .wheel
          .wind
            .p.p1
            .p.p2
            .p.p3
            .p.p4
            .p.p5
  .background-stuff
    .bg
    .bg.bg-2
    .bg.bg-3
    .ground