.form
  .form-title__wrap
    .form-title Замовити
    .form-title Замовити
  form(method="post" action="send.php")
    .form-group
      input#name(type="text", name="name")
      label(for="name")
        span І
        span м
        span '
        span я
      .form-group__error
    //- .form-group
    //-   input#surname(type="text", name="surname")
    //-   label(for="surname")
    //-     span П
    //-     span р
    //-     span і
    //-     span з
    //-     span в
    //-     span и
    //-     span щ
    //-     span е
    //-   .form-group__error
    .form-group
      input#email(type="text", name="email")
      label(for="email")
        span E
        span -
        span m
        span a
        span i
        span l
      .form-group__error
    .form-group
      input#phone(type="text", name="phone" maxlength="18")
      label(for="phone")
        span Т
        span е
        span л
        span е
        span ф
        span о
        span н
      .form-group__error
    .form-submit-btn-wrapper
      //- input.form-submit-btn(type="button", name="" value="Відправити")
      button.form-submit-btn(type="submit")
        <svg class="liquid-button"></svg>