.menu
  .menu-hamburger
    .menu-hamburger__line
    .menu-hamburger__line
    .menu-hamburger__line
  .menu-inner
    a.menu-inner__anchor(href="#") Замовити
    a.menu-inner__anchor(href="#") Ключові вигоди
    a.menu-inner__anchor(href="#") Особливості моделі
    a.menu-inner__anchor(href="#") Процес очишення
    a.menu-inner__anchor(href="#") Переваги
    a.menu-inner__anchor(href="#") Економія
    a.menu-inner__anchor(href="#") Обслуговуваня
    a.menu-inner__anchor(href="#") Доставка та установка
    a.menu-inner__anchor(href="#") Гарантії та повернення
    a.menu-inner__anchor(href="#") Де нас знайти
  <svg version="1.1" id="blob"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/> </svg>