.menu
  .menu-hamburger
    .menu-hamburger__line
    .menu-hamburger__line
    .menu-hamburger__line
  .menu-inner
    #cursorBlob
    a.menu-inner__anchor(href="#header") Замовити
    a.menu-inner__anchor(href="#saving") Економія
    a.menu-inner__anchor(href="#advantages") Ключові вигоди
    a.menu-inner__anchor(href="#model_features") Особливості моделі
    a.menu-inner__anchor(href="#purification") Процес очишення
    a.menu-inner__anchor(href="#changes") Зміни помітні одразу
    a.menu-inner__anchor(href="#service") Обслуговуваня
    a.menu-inner__anchor(href="#delivery") Доставка
    a.menu-inner__anchor(href="#return") Обмін та повернення
  <svg version="1.1" id="blob"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/> </svg>