.popup#popup_10
  .popup-overlay
  .popup-content
    span.popup-close(data-id="popup_10" data-animation="rotateCube") &times;
    h1 Popup 10
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt repellendus consequuntur aut obcaecati recusandae repudiandae! Quod, cum exercitationem minima eligendi ut facilis velit, excepturi aliquam natus culpa in labore quidem nulla sapiente a reiciendis placeat impedit voluptatibus ipsam. A omnis deleniti, necessitatibus iusto quod quaerat, laudantium tenetur debitis mollitia temporibus alias veritatis officia voluptatum autem rerum iste natus non, suscipit corporis praesentium? Eveniet dolorem quos harum fugiat neque laboriosam iure nobis quis a ratione voluptates molestias ullam possimus eligendi error delectus, ex hic et excepturi. Cum inventore, eos suscipit in accusantium animi, architecto adipisci voluptate dolorem, vel soluta molestiae!