.popup-wrapper
  .popup
    .popup-inside
      .backgrounds
        .background
        .background.background2
        .background.background3
        .background.background4
        .background.background5
        .background.background6
    .popup-content
      .popup-content-wrapper
        .popup-content__icon-wrap
          .popup-content__icon
        h2.popup-content__title Ваше замовлення успішно відправлено!
        p.popup-content__text Будь ласка, чекайте дзвінка нашого менеджера. Дякуємо Вам за довіру до компанії «Пан Фільтрон», раді надати Вам якісну продукцію і обслуговування