.popup-wrapper
  .popup
    .popup-inside
      .backgrounds
        .background
        .background.background2
        .background.background3
        .background.background4
        .background.background5
        .background.background6
    .popup-content
      .popup-content-wrapper
        .popup-content__icon-wrap
          <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true"> <circle class="circle" fill="#03a9f4" cx="24" cy="24" r="22"/> <path class="tick" fill="none" stroke="#ffffff" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/> </svg>
        h2.popup-content__title Ваше замовлення успішно відправлено!
        p.popup-content__text Будь ласка, чекайте дзвінка нашого менеджера. Дякуємо Вам за довіру до компанії «Пан Фільтрон», раді надати Вам якісну продукцію і обслуговування