extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include sections/saving
	//- include sections/advantages
	//- include sections/model_features
	//- include sections/purification
	//- include sections/changes
	//- include sections/service