section.delivery
  .container
    .section-title__wrap
      h2.section-title Доставка
    .delivery-content
      .delivery-content__img
        img(src="img/minivan.svg", alt="Доставка")
      .delivery-content__descr
        h3.delivery-content__title Доставка по Киеву
        .delivery-content__list
          .delivery-content__item Курьером службы доставки <span>ZRUCHNA</span> по Киеву - бесплатно Доставка осуществляется в течение 3 дней.
          .delivery-content__item <span>Самовывоз</span> Вы можете забрать свою покупку в одном из фирменных магазинов (посмотреть адреса ближайших магазинов можно тут)
          .delivery-content__item  Отделение <span>Новой почты</span> - бесплатно в ближайшее отделение Новой Почты.
          .delivery-content__item  <span>Курьером</span> до двери - бесплатно Доставка двери-двери по Украине осуществляется курьерской службой.
        h3.delivery-content__title Доставка по Украине
        .delivery-content__list
          .delivery-content__item Отправка по Украине осуществляется на следующий день после оформления заказа. Отправка заказов, оформленных в субботу и воскресенье, осуществляется в понедельник.
          .delivery-content__item Доставка по Украине осуществляется курьерской службой «Нова Пошта»
          .delivery-content__item Отделение Новой почты - бесплатно В ближайшее отделение Новой Почты
        h3.delivery-content__title Самовывоз
        .delivery-content__list
          .delivery-content__item Самовывоз возможен по предзаказу с 10:00 до 20:00 по буднях и с 10:00 до 18:00 в выходные дни.