section.delivery
  include ../components/car
  .section-title__wrap
    h2.section-title Доставка
  .delivery-content
    .container
      h3.delivery-content__title
        img(src="img/delivery.svg", alt="Доставка")
        |Доставка по Києву:
      .delivery-content__list
        .delivery-content__item - Кур'єром служби доставки <span>ZRUCHNA</span> по Києву - безкоштовно Доставка здійснюється протягом 3 днів.
        .delivery-content__item - <span>Самовивіз</span> - ви можете забрати свою покупку в одному з фірмових магазинів (подивитися адреси найближчих магазинів можна тут).
        .delivery-content__item - <span>Нова пошта</span> - безкоштовно на відділення Нової Пошти.
        .delivery-content__item - <span>Кур'єром до дверей</span> - безкоштовно. Доставка двері-двері по Україні здійснюється кур'єрською службою.
      h3.delivery-content__title
        img(src="img/delivery.svg", alt="Доставка")
        |Доставка по Україні:
      .delivery-content__list
        .delivery-content__item - Відправка по Україні здійснюється на наступний день після оформлення замовлення. Відправка замовлень, оформлених в суботу та неділю, здійснюється в понеділок.
        .delivery-content__item - Доставка по Україні здійснюється кур'єрською службою <span>«Нова пошта»</span>
        .delivery-content__item - Відділення Нової пошти - безкоштовно Найближчим відділення Нової Пошти.
      h3.delivery-content__title
        img(src="img/delivery.svg", alt="Доставка")
        |Самовивіз:
      .delivery-content__list
        .delivery-content__item Самовивіз можливий за попереднім замовленням з 10:00 до 20:00 по буднях і з 10:00 до 18:00 у вихідні дні.