section.model-features
  .container
    .section-title__wrap
      h2.advantages__title.section-title Особливості моделі
    .model-features__wrap
      .model-features__item
        h6.model-features__title Які особливості моделі?
        .model-features__descr
          p.model-features__text Фільтр зворотного осмосу Ecosoft Standard призначений для очищення води на молекулярному рівні. Фільтр очищає воду від 99,8% забруднень, включно з вірусами та бактеріями. Очищена вода повністю безпечна для організму людини. Вона ідеально підходить як для пиття, так і для приготування страв і напоїв.
          p.model-features__text З фільтром Ecosoft Standard у вас вдома завжди буде зручне джерело чистої та смачної води.
      .model-features__item
        h6.model-features__title Переваги зворотного осмосу
        .model-features__descr
          p.model-features__text Зворотний осмос — найбільш досконала технологія очищення води до бездоганної якості. Це природний та економний спосіб отримання питної води в домашніх умовах.
          p.model-features__text Основний елемент фільтра — мембрана зворотного осмосу. В фільтрі Ecosoft Standard встановлена мембрана продуктивністю 8 л/год. Очищена вода не потребує кип'ятіння та є повністю безпечною для дітей.
      .model-features__item
        h6.model-features__title Для кого підходить найкраще?
        .model-features__descr
          p.model-features__text Фільтр зворотного осмосу Ecosoft Standard оптимально підходить для сім'ї з трьох осіб. Фільтр робить воду безпечною, а також оберігає ваші побутові прилади від утворення накипу.