section.purification#purification
	.container
		.section-title__wrap
			h2.section-title 5 ступенів очищення
		.purification__content
			.purification__img
				picture
					source(type="image/webp" srcset="img/purification.webp 1x")
					img(src="img/purification.png" alt="5 ступенів очищення")
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Вугільний постфільтр
						span.tooltip-text корегує смак та запах очищенної води
					i.icon i
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Каналізація
					i.icon i
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Мембрана
						span.tooltip-text Видаляє 99,8% мінеральних та органічних домішок, а також бактерії та віруси
					i.icon i
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Хромований кран Крапля для очищенної води
					i.icon i
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Катридж зі спіненого поліпропілену, 1мкм
						span.tooltip-text Фінішне очищення води від механічних домішок до 1мкм перед мембраною
					i.icon i
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Катридж з гранульованого активованного вугілля
						span.tooltip-text Видялє хлор, хлороорганічні сполуки та органічні речовини природнього походження
					i.icon i
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Катридж зі спіненого поліпропілену, 5мкм
						span.tooltip-text Видаляє механічні домішки більше 5мкм (пісок, іржу, окалину)
					i.icon i
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Вихід води
					i.icon i
				.tooltip-container
					.tooltip(data-toggle="tooltip")
						span.tooltip-title Пластиковий накопичувальний бак
					i.icon i
			.purification__steps
				.purification__steps-list
					.purification__steps-item
						h6.purification__steps-title Перший ступінь
						p.purification__steps-text Попереднє очищення води від механічних домішок. Вода, проходячи через картридж з пористого поліпропіленового волокна, очищається від мулу, піску, іржі.
					.purification__steps-item
						h6.purification__steps-title Другий ступінь
						p.purification__steps-text Очищення води від органічних та хлорорганічних домішок, а також хлору. Покращується смак, колір та запах води. Всередині картриджа — активоване вугілля у вигляді гранул.
					.purification__steps-item
						h6.purification__steps-title Третій ступінь
						p.purification__steps-text Очищення води від найменших часточок механічних домішок. Картридж виготовлений з пористого поліпропіленового волокна найменшого рейтингу фільтрування.
					.purification__steps-item
						h6.purification__steps-title Четвертий ступінь
						p.purification__steps-text Основний етап фільтрування. Вода після попереднього очищення, потрапляє на мембрану, яка надійно затримує 99,8% забруднень.
					.purification__steps-item
						h6.purification__steps-title П'ятий ступінь
						p.purification__steps-text Вугільний постфільтр — надає очищеній воді легкого, ледь солодкуватого присмаку.