section.return#return
  .container
    .section-title__wrap
      h2.section-title Обмін та повернення товару
    .return-content
      p.return-content__text Відповідно до Закону України «Про захист прав споживача», ви можете обміняти або повернути товар протягом 14 днів з дня покупки при наступних умовах:
      .return-content__list
        .return-content__item - товар та його елементи не мають слідів використання;
        .return-content__item - повна комплектація і наявність цілісної упаковки;
        .return-content__item - відсутні механічні та інші пошкодження;
        .return-content__item - розпаковані змінні елементи та витратні матеріали не підлягають обміну або поверненню;
        .return-content__item - при при обміні і поверненні товару належної якості послуги;
        .return-content__item - кур'єрська служба «Нова Пошта» оплачуються покупцем
      p.return-content__text Повернути або обміняти товар, який вийшов з ладу неможливо. В такому випадку проводиться сервісне обслуговування. Обміняти такий товар можливо тільки після висновку сервісного центру про неможливості усунення дефекту.