section.return
  .container
    .section-title__wrap
      h2.section-title Обмін та повернення товару
    .return-content
      p.return-content__text Відповідно до Закону України «Про захист прав споживача», ви можете обміняти або повернути товар протягом 14 днів з дня покупки при наступних умовах:
      .return-content__list
        .return-content__item товар и его элементы не имеют следов использования;
        .return-content__item полная комплектация и наличие целостной упаковки;
        .return-content__item отсутствуют механические и другие повреждения;
        .return-content__item аспакованные сменные элементы и расходные материалы не подлежат обмену или возврату;
        .return-content__item при при обмене и возврате товара надлежащего качества услуги
        .return-content__item курьерской службы «Новая Почта» оплачиваются покупателем
        .return-content__item
      p.return-content__text Вернуть или обменять товар, который вышел из строя невозможно. В таком случае производится сервисное обслуживание. Обменять такой товар возможно только после заключения сервисного центра о невозможно устранения дефекта.