section.saving
  .container
    .section-title__wrap
      h2.section-title Економія з першого дня грошей та часу
    .saving-content
      .saving-content__item
        picture
          source(type="image/webp" srcset="img/bottle.webp 1x")
          img(src="img/bottle.jpg" alt="5 ступенів очищення")
        .saving-content__price
          span.saving-content__price-number 8*
          span.saving-content__price-text грн/л
      .saving-content__item
        picture
          source(type="image/webp" srcset="img/water_jar.webp 1x")
          img(src="img/water_jar.png" alt="5 ступенів очищення")
        .saving-content__price
          span.saving-content__price-number 3.8*
          span.saving-content__price-text грн/л
      .saving-content__item
        picture
          source(type="image/webp" srcset="img/ecosoft.webp 1x")
          img(src="img/ecosoft.png" alt="5 ступенів очищення")
        .saving-content__price
          span.saving-content__price-number 0.50*
          span.saving-content__price-text грн/л