section.saving
  .container
    .section-title__wrap
      h2.section-title Економія з першого дня грошей та часу
      <svg width="1" height="1" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <filter id="goovey"> <feTurbulence type="fractalNoise" baseFrequency="0.01" numOctaves="1" result="warpper"/> <feColorMatrix in="warpper" type="hueRotate"> <animate attributeType="XML" attributeName="values" values="0;110;150;210;360" dur="5s" repeatCount="indefinite"/> </feColorMatrix> <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="70" in="SourceGraphic"/> </filter> </defs></svg>
    .saving-content
      .saving-content__item
        img(src="img/bottle.svg", alt="Bottle")
        .saving-content__price
          span.saving-content__price-number 8*
          span.saving-content__price-text грн/л
      .saving-content__item
        img(src="img/large-bottle.svg", alt="Large bottle")
        .saving-content__price
          span.saving-content__price-number 3.8*
          span.saving-content__price-text грн/л
      .saving-content__item
        img(src="img/water-filter.svg", alt="Water-filter")
        .saving-content__price
          span.saving-content__price-number 0.50*
          span.saving-content__price-text грн/л
    .saving-advantages
      h3.saving-advantages__title Обирай найкраще
      p.saving-advantages__text Чиста вода кожен день в тебе вдома