section.service
  .container
    .section-title__wrap
      h2.section-title Обслуговування
    .service-content
      .service-content__descr
        p.service-content__text Обслуговування фільтра полягає в періодичній заміні його елементів.
        p.service-content__text Ми прагнемо спростити ваше життя з фільтром, тому вчасно нагадаємо про необхідність заміни картриджів, а також самі замінимо.
        p.service-content__text Чиста вода без зайвого клопоту — це можливо з Ecosoft.
        p.service-content__text Якщо ви не плануєте користуватися фільтром протягом тривалого часу, рекомендується перекрити подачу води на нього.
        h3.service-content__title Періодичність заміни картриджів
        .service-content__list
          .service-content__item Картриджі попереднього очищення води — кожні 3 місяці
          .service-content__item Мембрана зворотного осмосу — 1 раз на рік
          .service-content__item Постфільтр — кожні 6 місяців
        p.service-content__text Якщо ви не плануєте користуватися фільтром протягом тривалого часу, рекомендується перекрити подачу води на нього.
      .service-content__img
        img(src="img/service.svg")
        