section.service
  .container
    .service-content
      .service-content__descr
        h2.section-title Обслуговування
        p.service-content__text Обслуговування фільтра полягає в періодичній заміні його елементів.
        p.service-content__text Ми прагнемо спростити ваше життя з фільтром, тому вчасно нагадаємо про необхідність заміни картриджів, а також самі замінимо.
        p.service-content__text Чиста вода без зайвого клопоту — це можливо з Ecosoft.
        h3.service-content__title Періодичність заміни картриджів
      .service-content__img
        picture
          source(type="image/webp" srcset="img/change.webp 1x")
          img(src="img/5classic@2x.png" alt="5 ступеневий зворотній осмос")